#big {text-align: center; position: fixed; top:50%;
    left:0;right:0;font-size:112px; font-family: "Roboto Light", sans-serif;
}
@media screen and (min-width:540px) {
    #big {font-size:240px;}
}
#div-btm {position:fixed;bottom:16px;right:16px;}
* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}